body{
padding:0%;
}
header{
  background-color: red;
  text-align: center;
  padding:3%;
}
section{
  background-color: green;
  text-align: center;
  padding:3%;
}
footer{
  background-color: yellow;
  text-align: center;
  padding:3%;
}
